<%= form_with(model: @article, html: { enctype: "multipart/form-data" } ) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :status %>
    <%= form.select :status, ['public','private','archived'], selected: 'public' %>
  </div>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <section class="article-edit-section new-frame">
    <h2>Add a frame</h2>
      <div class="form-wrapper">
        <%= fields_for @frame do |frame_form| %>
          <%= frame_form.label :display_type %>
          <%= frame_form.select :display_type, ['image'], selected: 'image' %>
          <%= frame_form.label :images %>
          <%= frame_form.file_field :images, multiple: true %>
          <%= frame_form.label :caption %>
          <%= frame_form.text_area :caption %>
        <% end %>
      </div>
  </section>

  <div>
    <%= form.submit %>
  </div>
<% end %>
