<article class="post-body">
  <header class="article-header">
    <h1><%= @article.title %></h1>
    <p><%= @article.list_authors %></p>
    <% if current_user %>
      <%= link_to "Add one frame", new_article_frame_path(@article) %>
      |
      <%= link_to "Add many frames", article_bulk_new_frame_path(@article) %>
      |
      <%= link_to "Invite collaborators", new_article_invite_path(@article) %>
      |
      <%= link_to "Edit", edit_article_path %>
      |
      <%= link_to "Delete",
        article_path(@article),
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <% else %>
      <p>
        <%= link_to "Sign Up", sign_up_path %>
        to create stories
      </p>
    <% end %>
  </header>
  <section class="article-summary">
    <p><%= @article.body %></p>
  </section>

  <section class="article-content">
    <% @frames.each do |frame| %>
      <div class="frame">
        <div class="media-wrapper image">
          <% frame.images.each do |image| %>
            <div class="image-item">
              <%= image_tag image.variant(:medium) %>
            </div>
          <% end %>
        </div>
        <p class="caption"><%= frame.caption %></p>
      </div>
    <% end %>
  </section>
</article>
