<header id="header">
  <nav>
    <div class="nav-left">
      <% if signed_in? %>
        <%= link_to "Stories", root_path %>
      <% else %>
        <%= link_to "Story Weave", root_path %>
      <% end %>
    </div>
    <div class="nav-right">
      <% if signed_in? && current_user.is_author?(@article) %>
        <%= link_to "Edit", edit_article_path %>
        <%= link_to "Invite", new_article_invite_path(@article), class: "invite" %>
      <% else %>
        <%= link_to "Sign In", sign_in_path %>
      <% end %>
    </div>
  </nav>
</header>

<div class="story-container">
  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash-message <%= key %>"><%= value %></div>
    <% end %>
  </div>

  <article class="story-content">
    <div class="heading-wrapper">

      <header class="story-header">
        <h1><%= @article.title %></h1>
        <p class="sub-heading">By: <%= @article.list_authors %></p>
      </header>

      <section class="story-summary">
        <p><%= @article.summary %></p>
      </section>
    </div>

    <% if current_user && current_user.is_author?(@article) %>
      <section class="add-content-actions">
        <%= link_to "Add image with caption", new_article_frame_path(@article) %>
        <%= link_to "Add multiple images", article_bulk_new_frame_path(@article) %>
      </section>
    <% end %>

    <section class="story-body">
      <% @frames.each do |frame| %>
        <div class="frame">
          <div class="media-wrapper image">
            <% frame.images.each do |image| %>
              <div class="image-item">
                <%= image_tag image %>
              </div>
            <% end %>
            <% unless @one_author %>
              <span class="author"><%= frame.user.user_name %></span>
            <% end %>
          </div>

          <% unless frame.caption == nil || frame.caption.empty? %>
            <p class="caption">
              <%= frame.caption %>
            </p>
          <% end %>

        </div>
      <% end %>
    </section>
  </article>
</div>
