<div class="form-field text-field">
  <%= form.label :user_name %>
  <% user.errors.full_messages_for(:user_name).each do |message| %>
    <p class="form-field-error-message"><%= message %></p>
  <% end %>
  <%= form.text_field :user_name %>
</div>

<div class="form-field text-field">
  <%= form.label :email %>
  <% user.errors.full_messages_for(:email).each do |message| %>
    <p class="form-field-error-message"><%= message %></p>
  <% end %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="form-field password-field">
  <%= form.label :password %>
  <% user.errors.full_messages_for(:password).each do |message| %>
    <p class="form-field-error-message"><%= message %></p>
  <% end %>
  <%= form.password_field :password %>
</div>
