<div class="text-field">
  <%= form.label :user_name %>
  <%= form.text_field :user_name %>
  <% if user.errors[:user_name].any? %>
    <p><%= user.errors.where(:user_name).first.full_message %></p>
  <% end %>
</div>

<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
  <% if user.errors[:email].any? %>
    <p><%= user.errors.where(:email).first.full_message %></p>
  <% end %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
  <% if user.errors[:password].any? %>
    <p><%= user.errors.where(:password).first.full_message %></p>
  <% end %>
</div>
