<h1>Add images</h1>
<p> Add one or more images to <%= @article.title %>.</p>

<%= form_with( url: article_frames_path(@article), scope: :media, method: :post,  multipart: true ) do |form| %>
  <%= form.label :images %>
  <%= form.file_field :images, multiple: true %>
  <div>
    <%= form.submit "Upload" %>
  </div>
<% end %>
