<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header id="header">
      <nav>
        <%= link_to "Articles", root_path %>
        <%= link_to "New Post", new_article_path %>
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, data: {turbo: false}  %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path %>
          <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
      </nav>
    </header>
    <section class="primary-content">
      <div>
        <% if notice %>
          <p class="flash-message notice"><%= notice %></p>
        <% elsif alert %>
          <p class="flash-message alert"><%= alert %></p>
        <% end %>
      </div>
      <%= yield %>
    </section>
  </body>
</html>
