<!DOCTYPE html>
<html>
  <head>
    <title>Story Weave</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header id="header">
      <nav>
        <div class="nav-left">
          <% if signed_in? %>
            <%= link_to "Stories", root_path %>
            <%= link_to "New Story", new_article_path %>
          <% else %>
            <%= link_to "Story Weave", root_path %>
          <% end %>
        </div>
        <div class="nav-right">
          <% if signed_in? %>
            <%= link_to "#{current_user.user_name}", user_path(current_user.id) %>
          <% else %>
            <%= link_to "Sign In", sign_in_path %>
          <% end %>
        </div>
      </nav>
    </header>
    <section class="primary-content">
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash-message <%= key %>"><%= value %></div>
        <% end %>
      </div>
      <%= yield %>
    </section>
  </body>
</html>
